**/.*
bin/**/*
cache/**/*
installer/**/*
project/**/*
prejscss/**/*
nw/**/*
temp/**/*
RecordRTC
node_modules/**/*
bower_components/**/*
test/**/*
tests/**/*
src/bin/*.*
src/res/*.exe
src/res/*.~*
src/res/*.exe
src/res/*.dll
src/res/*.dcu
src/res/*.ddr
src/res/*.dof
package-lock.json
!**/.gitignore
!**/.gitattributes
!src/bin/*.svg
!src/bin/*.zip
*.sublime-workspace
desktop.ini
index.html
