**/.*
bin/
install/
project/
prejscss/
temp/
RecordRTC
node_modules/
bower_components/
test/
tests/
src/bin/*.*
src/res/**/*
build/
package-lock.json
!**/.gitignore
!**/.gitattributes
!.github/
!.env
!src/bin/*.svg
!src/bin/*.zip
!src/bin/*.psd
!src/bin/*.ai
!project/package.json
*.sublime-workspace
desktop.ini
/index.html
