.panel__settings.print-hidden
	.panel
		.panel__header
			h1
				|Настройки
			span.resetwrapper
				button#resetDefault
					|Сбросить все настройки
			.close
				.webicon-close
		.panel__wrapper
			include tabs
			.blockover
				include tab_background
				include tab_sounds
				include tab_video
				include tab_print