section#tab3.tab-container
	fieldset
		legend Обработка видео
		.flex-row.backgroundSounds
			div
				label
					input#isOptimized(type="checkbox")
					| Оптимизировать видео поле записи
				br
				span
					em
						|Оптиммизация видео очень долгий процесс. Данный процесс приводит к зависанию, как самой программы, так и системы в целом.
						br
						|Выбирайте эту опцию на свой риск и терпение). YouTube примет и не оптимизированный файл, но и там процесс обработки будет очень длинным, но оно того стоит.
	fieldset
		legend Список записанных розыгрышей
		.video_files
				ul#video_files