.tab__panel
	ul
		li.active(data-trigger="#tab1")
			span
				|Оформление
		li(data-trigger="#tab2")
			span
				|Звук
		li(data-trigger="#tab3")
			span
				|Видео
		li(data-trigger="#tab4")
			span
				|Печать