doctype html
html
	head
		meta(charset="utf-8")
		style
			include ../../../tests/css/inc/app.css
	body.wait
		#waitsettings
			.message
		.main
			header.header.print-hidden
				.settings.print-hidden
					.webicon-settings
				h1 Генератор розыгрыша призов
			section.wrapper
				.block(data-plugin="forestedglass" data-target=".main" data-blur="20")
					include inc/main/main
			footer.footer.text-center
				|Development and Design
				=" "
				a.link(href="https://demiart.ru/forum/index.php?showuser=1393929") ProjectSoft
		include inc/settings/panel
		script(src='assets/js/app.js')