doctype html
html
	head
		meta(charset="utf-8")
		style
			include ../../../tests/css/inc/app.css
	body
		.main
			header.header
				.settings
					.webicon-settings
				h1 Генератор розыгрыша призов
			section.wrapper
				.block(data-plugin="forestedglass" data-target=".main" data-blur="20")
					p.text-center
						strong Column blur 10.
						br
						button
							|Open
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
			footer.footer
				|FOOTER
		.panel__settings
			.panel
				.panel__header
					h1
						|Настройки
					.close
						.webicon-close
				.panel__wrapper
					.tab__panel
						ul
							li.active(data-trigger="#tab1")
								span
									|Оформление
							li(data-trigger="#tab2")
								span
									|Звук
							li(data-trigger="#tab3")
								span
									|Видео
					.blockover
						section#tab1.tab-container.active
							fieldset
								legend Фоновое изображение
								.flex-row.backgroundImage
									span
										|Выберите файл
									button#select-image
										|ВЫБРАТЬ
								.flex-row.backgroundImage
									.img-wrapper
										img#optionImage
										#resetBg.btn-reset.webicon-close(title="Сбросить")
								hr
								.flex-row.backgroundPosition
									span
										|Позиция фона
									select#select-position
										option(value="center top") По центру вверх
										option(value="center center") По центру
										option(value="center bottom") По центру вниз
										option(value="unset") Нет
								hr
								.flex-row.backgroundRepeat
									span
										|Заполнение фона
									select#select-repeat
										option(value="no-repeat") Не заполнять
										option(value="repeat") Заполнить
										option(value="repeat-x") Заполнить по горизонтали
										option(value="repeat-y") Заполнить по вертикали
								hr
								.flex-row.backgroundAttachment
									span
										|Фиксирование фона
									select#select-attachment
										option(value="fixed") Фиксированный
										option(value="scroll") Скроллируемый
								hr
								.flex-row.backgroundSize
									span
										|Размер фона
									select#select-size
										option(value="cover") Cover
										option(value="contain") Contain
										option(value="auto") Auto
							fieldset
								legend Фоновая подложка
								.flex-row
									span
										|Цвет подложки
									input#bloorColor(type="text")
								hr
								.flex-row
									span
										|Размытие подложки
									span
										input#bloorBloor(type="range" min="0" max="25" step="0.01")
										br
										div#bloor-step.text-center
							fieldset
								legend Шапка и подвал
								.flex-row
									span
										|Цвет Фона
									input#hfBgColor(type="text")
								hr
								.flex-row
									span
										|Цвет текста
									input#hfTextColor(type="text")
							div
								.flex-row
									span
									button#resetDefault
										|Сбросить все настройки
						section#tab2.tab-container
							fieldset
								legend Звук
						section#tab3.tab-container
							fieldset
								legend Видео
								
		script(src='assets/js/app.js')