@webicon-add: "\e900";
@webicon-basket: "\e901";
@webicon-begin: "\e902";
@webicon-burger: "\e903";
@webicon-check-circle: "\e904";
@webicon-check: "\e905";
@webicon-circle-close: "\e906";
@webicon-clear: "\e907";
@webicon-close: "\e908";
@webicon-desktop: "\e909";
@webicon-dislike: "\e90a";
@webicon-down: "\e90b";
@webicon-download: "\e90c";
@webicon-edit: "\e90d";
@webicon-end: "\e90e";
@webicon-error: "\e90f";
@webicon-eye: "\e910";
@webicon-image: "\e911";
@webicon-like: "\e912";
@webicon-link: "\e913";
@webicon-menudot: "\e914";
@webicon-mobile: "\e915";
@webicon-next: "\e916";
@webicon-pause: "\e917";
@webicon-picture: "\e918";
@webicon-play: "\e919";
@webicon-prev: "\e91a";
@webicon-print: "\e91b";
@webicon-raffle: "\e91c";
@webicon-reload: "\e91d";
@webicon-remove: "\e91e";
@webicon-search: "\e91f";
@webicon-settings: "\e920";
@webicon-sortable: "\e921";
@webicon-success: "\e922";
@webicon-up: "\e923";
@webicon-user: "\e924";
@webicon-zoom-in: "\e925";
@webicon-zoom-out: "\e926";

@font-face {
	font-family:"Raffle Prizes";
	src:url("/assets/fonts/raffle.woff") format("woff"),
		url("/assets/fonts/raffle.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
	font-display: swap;
}

[class^="webicon-"]:before,
[class*=" webicon-"]:before {
	font-family: "Raffle Prizes" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.webicon-add {
	&:before {
		content: @webicon-add;
	}
}
.webicon-basket {
	&:before {
		content: @webicon-basket;
	}
}
.webicon-begin {
	&:before {
		content: @webicon-begin;
	}
}
.webicon-burger {
	&:before {
		content: @webicon-burger;
	}
}
.webicon-check-circle {
	&:before {
		content: @webicon-check-circle;
	}
}
.webicon-check {
	&:before {
		content: @webicon-check;
	}
}
.webicon-circle-close {
	&:before {
		content: @webicon-circle-close;
	}
}
.webicon-clear {
	&:before {
		content: @webicon-clear;
	}
}
.webicon-close {
	&:before {
		content: @webicon-close;
	}
}
.webicon-desktop {
	&:before {
		content: @webicon-desktop;
	}
}
.webicon-dislike {
	&:before {
		content: @webicon-dislike;
	}
}
.webicon-down {
	&:before {
		content: @webicon-down;
	}
}
.webicon-download {
	&:before {
		content: @webicon-download;
	}
}
.webicon-edit {
	&:before {
		content: @webicon-edit;
	}
}
.webicon-end {
	&:before {
		content: @webicon-end;
	}
}
.webicon-error {
	&:before {
		content: @webicon-error;
	}
}
.webicon-eye {
	&:before {
		content: @webicon-eye;
	}
}
.webicon-image {
	&:before {
		content: @webicon-image;
	}
}
.webicon-like {
	&:before {
		content: @webicon-like;
	}
}
.webicon-link {
	&:before {
		content: @webicon-link;
	}
}
.webicon-menudot {
	&:before {
		content: @webicon-menudot;
	}
}
.webicon-mobile {
	&:before {
		content: @webicon-mobile;
	}
}
.webicon-next {
	&:before {
		content: @webicon-next;
	}
}
.webicon-pause {
	&:before {
		content: @webicon-pause;
	}
}
.webicon-picture {
	&:before {
		content: @webicon-picture;
	}
}
.webicon-play {
	&:before {
		content: @webicon-play;
	}
}
.webicon-prev {
	&:before {
		content: @webicon-prev;
	}
}
.webicon-print {
	&:before {
		content: @webicon-print;
	}
}
.webicon-raffle {
	&:before {
		content: @webicon-raffle;
	}
}
.webicon-reload {
	&:before {
		content: @webicon-reload;
	}
}
.webicon-remove {
	&:before {
		content: @webicon-remove;
	}
}
.webicon-search {
	&:before {
		content: @webicon-search;
	}
}
.webicon-settings {
	&:before {
		content: @webicon-settings;
	}
}
.webicon-sortable {
	&:before {
		content: @webicon-sortable;
	}
}
.webicon-success {
	&:before {
		content: @webicon-success;
	}
}
.webicon-up {
	&:before {
		content: @webicon-up;
	}
}
.webicon-user {
	&:before {
		content: @webicon-user;
	}
}
.webicon-zoom-in {
	&:before {
		content: @webicon-zoom-in;
	}
}
.webicon-zoom-out {
	&:before {
		content: @webicon-zoom-out;
	}
}